<div class="chat-window">
  @for (message of chatService.getMessages(); track $index) {
    @if (message.sender !== userService.getCurrentUsersName()) {
      <div>
        <strong>{{ message.sender }}:</strong> {{ message.content }} <span>{{ message.timestamp | date:'shortTime' }}</span>
      </div>
    } @else {
      <div>
        <strong>{{ message.sender }}:</strong> {{ message.content }} <span>{{ message.timestamp | date:'shortTime' }}</span>
      </div>
    }
  } @empty {
    <div>
      <span>No messages</span>
    </div>
  }
</div>

<input #messageInput type="text" placeholder="Type a message...">
<button class="btn btn-primary ms-2" (click)="chatService.sendMessage(messageInput.value); messageInput.value=''">Send</button>