<div class="pt-3 px-3">
  @for (message of chatService.getMessages(); track $index) {
    @if (message.sender !== userService.getCurrentUsersName()) {

      <div class="alert alert-light" role="alert">
        <small>{{ message.timestamp | date:'shortTime' }} </small>
        <strong>{{ message.sender }}:</strong>
        <span class="d-block" [innerHTML]="message.content | highlightUsername"></span>
      </div>

    } @else {

      <div class="alert alert-primary" role="alert">
        <small>{{ message.timestamp | date:'shortTime' }} </small>
        <strong>{{ message.sender }}:</strong>
        <span class="d-block" [innerHTML]="message.content | highlightUsername"></span>
      </div>

    }
  } @empty {

    <div class="alert alert-light" role="alert">
      <span>No messages</span>
    </div>

  }
</div>