.suggestions {
  border: 1px solid #ccc;
  background-color: white;
  position: absolute;
  z-index: 1000;
}

.suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
}
.suggestion-item:hover {
  background-color: #f0f0f0;
}
.selected {
  background-color: #b6b6b6;
}