<div class="container-fluid">
  <header class="bg-primary text-white text-center py-3">
    <h1>LimbleChat</h1>
  </header>

  <main class="">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid justify-content-center">
        <app-user-selector></app-user-selector>
      </div>
    </nav>

    @if(userService.isUserLoggedIn()) {
      <app-chat></app-chat>
      <app-notifications></app-notifications>
    }
  </main>

  <footer class="bg-secondary text-white text-center py-3">
    <p>© 2024 LimbleChat</p>
  </footer>
</div>