<div class="container-fluid" style="height: 100vh;">
  <div class="row bg-primary text-white text-center py-3" style="height: 8%;">
    <h1 class="mb-0">LimbleChat</h1>
  </div>

  <div class="row" style="height: 8%;">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid justify-content-center">
        <app-main-navbar class="py-2 w-100"></app-main-navbar>
      </div>
    </nav>
  </div>

  <div class="row" style="height: 80%;">
    <div class="col" style="height: 100%;">
      @if (userService.isUserLoggedIn()) {
        <div id="messages" class="row" style="height: 90%; overflow-y: auto;">
          <app-chat></app-chat>
        </div>
        <div class="row" style="height: 10%;">
          <app-send-message></app-send-message>
        </div>
      } @else {
        <div class="row" style="height: 100%;">
          <div class="p-3">
            <div class="alert alert-light" role="alert">
              <span>Please Login</span>
            </div>
          </div>
        </div>
      }
    </div>
  </div>

  <div class="row bg-primary text-white text-center pt-1" style="height: 4%;">
    <span>© 2024 LimbleChat</span>
  </div>
</div>

@if (userService.isUserLoggedIn()) {
  <div class="offcanvas offcanvas-end" tabindex="-1" id="notificationsOffcanvas" aria-labelledby="notificationsOffcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="notificationsOffcanvasLabel">Notifications</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <app-notifications></app-notifications>
    </div>
  </div>
}